node_modules/
dist/
*.tmp.*
*.key
# Ignore .env from being accidentally committed.
.env
# Remove firestore debug log.
firestore-debug.log
# Ignore IDEs (some)
.idea/
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
