name: Deploy to production

on:
  push:
    branches:
      - master

env:
  APP_NAME: EddieBot

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'

    - name: Install deps and build project
      run: |
        npm install
        npm run lint
        npm run build

    - uses: azure/login@v1
      with:
        creds: '${{ secrets.AZURE_CREDENTIALS }}'
    - uses: azure/appservice-settings@v1
      with:
        app-name: ${{ env.APP_NAME }}
        app-settings-json: '[{ "name": "DISCORD_TOKEN", "value": "${{ secrets.DISCORD_TOKEN }}"},{ "name": "DISCORD_SERVER_ID", "value": "${{ secrets.DISCORD_SERVER_ID }}"},{ "name": "DISCORD_BOT_CHANNEL_ID", "value": "${{ secrets.DISCORD_BOT_CHANNEL_ID }}"},{ "name": "FIREBASE_KEY", "value": "${{ secrets.FIREBASE_KEY }}"}]'
      id: settings
    - run: az logout

    - name: 'Run Azure webapp deploy action using publish profile credentials'
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.APP_NAME }}
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
